<div class="holy_city_poems">
    <p>The Ascetic</p>
    <br />
    <br />
    <br />
    <p>No single activity can be done in isolation, they all</p>
    <p>must be paired. The chorus of desire is no Gregorian</p>
    <p>chant &mdash; the desire to read, to walk, to travel,</p>
    <p>to rest &mdash; all are coupled and supplemented</p>
    <p>by a sometimes competing pursuit. Walking</p>
    <br />
    <br />
    <p>through Somerville is unbearable without music</p>
    <p>(though we require soundtracks to even</p>
    <p>our conversations these days.) To simply watch</p>
    <p>a film in a group without at least one distractful</p>
    <p>drink is agony. It occurs that it would be, at least,</p>
    <br />
    <br />
    <p>aesthetically sensible to pick up a volume</p>
    <p>of Lawrence and, to complete the performance,</p>
    <p>I must set up camp on the porch with a languidly</p>
    <p>ignored cigarette shooting its column from my hand:</p>
    <p>I haven’t bought a pack in nearly a decade.</p>
    <br />
    <br />
    <p>The ascetic has the right idea. I see him</p>
    <p>in his hermitage and his actions are</p>
    <p>as solitary as he. His periods of devotion</p>
    <p>are unmarred by as passive a distraction</p>
    <p>as merely waiting for dinner to be done:</p>
    <br />
    <br />
    <p>there will be opportunity enough for meals</p>
    <p>and their contingent waiting later. As he paces</p>
    <p>among cedars, his observations are unclouded</p>
    <p>by song. It must be a difficult skill to learn.</p>
    <p>But perhaps one stops seeking every action’s</p>
    <br />
    <br />
    <p>key to its lock when one has no need</p>
    <p>for locks in the first place.</p>
</div>