<div class="holy_city_poems">
    <p>The Book of Sleep</p>
    <br />
    <br />
    <br />
    <p>There are no pages in the book of sleep,</p>
    <p>my single spine turns leaves of rooms</p>
    <p>from one suitcase to another. Doors</p>
    <p>move instructively to their last volitional</p> 
    <p>position while the silent alarm makes</p>
    <p>of the floor a sundial. The bookshelf of the bed</p>
    <p>contains one folio, any other intruding</p>
    <p>volume warps each others' leather covers,</p>
    <p>dogears the theater of memory;</p>
    <p>another set of still, uninfluenced hands</p>
    <p>rends the cyclorama, replacing the scrim</p>
    <p>with gentle lace and familiar sheets</p>
    <p>warmed by some alien body. But what</p>
    <br />
    <br />
    <p>are the dice games of dreams without</p>
    <p>a captive audience of one? Where</p>
    <p>is the yet unnamed she who will monitor</p>
    <p>the chapters of night as they tumble</p>
    <p>like radio waves from the drinking glass</p>
    <p>to our now twined, now expressionless</p>
    <p>feet? Her fingers, in the over-intuitive</p>
    <p>timeline of dreams, already strum my chest</p>
    <p>and the scent of her hair fills my hands.</p>
    <p>Unstilled by the phantom of her eyes,</p>
    <p>this binding cracks and releases,</p>
    <br />
    <br />
    <p>but how astonishingly I know that</p>
    <p>a book that is read cannot possibly fail</p>
<p>against a restive but solitary night.</p>
</div>