<div class="holy_city_poems">
    <p>To Cythera</p>
    <br />
    <br />
    <br />
    <p>With all your knots loosed and daily</p>
    <p>moorings – one by one, inexorably – pulled</p>
    <p>don’t forget to take with you your elements,</p>
    <p>your lion stone, and the fallen oak leaves.</p>
    <p>You still have time to lilt along</p>
    <p>to all treetop birds, and to forge again</p>
    <p>the presence of your high porch</p>
    <p>and wind-swept parades, especially</p>
    <p>the clockwork of Fort Hill with your blood</p>
    <p>the fiery coke, tempered by your thousand</p>
    <p>oaths. Pack, pack this steel with you</p>
    <p>with the steep churchyard skies, the glass</p>
    <p>of the Charles, the ghosts of all doubt</p>
    <p>and everything else you leave behind.</p>
    <br />
    <br />
    <p>And your vessel is that dream of plains,</p>
    <p>our perennial champion and prosecutor;</p>
    <p>see as we accuse the sun in its rise</p>
    <p>(see as it glances bashfully of the palm</p>
    <p>of the Tower.) Your ambition</p>
    <p>so pyrrhic, such a monument</p>
    <p>to passion! It expands like a freeze,</p>
    <p>filling imagination; in its branch-like</p>
    <br />
    <br />
    <p>wake bloom luminous clouds,</p>
    <p>waves crashing to the night. So</p>
    <p>pack up the accomplishments, each</p>
    <p>a brick to our ending road, catalog</p>
    <p id="cythera">them all:</p>
    <br />
    <br />
    <p>The fever of the moon, our march</p>
    <p>up the hills and down the shores,</p>
    <p>your legion of whiskey words wrought</p>
    <p>in fury and devotion, and even</p>
    <p>those sunsets that found agency</p>
    <p>only in you. Once finished – we’d be</p>
    <p>grateful – if you take in our applause,</p>
    <p>turn to the trunk, locking fast every latch,</p>
    <p>grant no further glance, dismiss every plea,</p>
    <p>stride forward away, and leave.</p>
</div>