<div  class="holy_city_poems">
    <p>Our Debts</p>
    <br />
    <br />
    <br />
    <p>It's of some importance to remember our debts,</p>
    <p>those promissories to time that more time will come.</p>
    <p>There is no forgiveness for the ones who forget.</p>
    <br />
    <br />
    <p>We wager that time, humming a rhythm preset</p>
    <p>by some pulsing of stars, is able to fathom</p>
    <p>our effort put forth in remembering our debts,</p>
    <br />
    <br />
    <p>and to boldly bear that responsibility attests</p>
    <p>to the belief life won't end before we zero the sum,</p>
    <p>but there is no forgiveness for the ones who forget.</p>
    <br />
    <br />
    <p>It's of but slight importance to recall the set</p>
    <p>of actions that leave us to worry and fret upon</p>
    <p>the utmost importance of remembering our debts.</p>
    <br />
    <br />
    <p>But failing to recall what ultimately left</p>
    <p>us to owe time or favor shouldn't alter the outcome,</p>
    <p>for there is no forgiveness for we who forget.</p>
    <br />
    <br />
    <p>And time isn't limitless, no time for regrets:</p>
    <p>what you owe won't slow the rise of your last sun.</p>
    <p>So it's of great importance to remember your debts.</p>
    <p>There can be no forgiveness for the ones who forget.</p>
</div>