<div class="holy_city_poems">
    <p>X</p>
    <br />
    <br />
    <br />
    <p>I never deliberately look for doppelgangers</p>
    <p>but they appear to me all the same. A static</p>
    <p>electric surge &mdash; before the finger arcs</p>
    <p>as a ground &mdash; recognition &mdash; then deciding</p>
    <p>what important difference this face that form</p>
    <p>embodies to separate from the truly familiar.</p>
    <p>It must be completely different in those countries</p>
    <p>wracked with racial homogeneity, where an Anglo</p>
    <p>like me sticks out like a puddle of blood splashed</p>
    <p>on the pavement. Doppelgangers simply don't exist</p>
    <p>there, the resident familiarity trains vast categories</p>
    <p>of recognition, a sieve a lifetime spent in refinement.</p>
    <p>And so I'd be compelled to scan for facial shorthands,</p>
    <p>a deliberate search for subtle doubles. But of course,</p>
    <p>they can only surface if you're keen enough</p>
    <p>to never look.</p>
</div>