<div class="holy_city_poems">
    <p>IV</p>
    <br />
    <br />
    <br />
    <p>What do you fear? What does fear really mean for you?</p>
    <p>To what ends would you understand, how far would the liberal</p>
    <p>attempts of understanding take you? Would they fill up</p>
    <p>the regular slots, those everyday tragedies you let the news</p>
    <p>conclude, or would they reach, inexorably, until the too-close</p>
    <p>victim is one of yours, dead now and buried between the waves?</p>
    <br />
    <br />
    <p>And that is god, no other before him. That thing that brought us</p>
    <p>from the muds and shot a covenant across Noah’s sky. So fearful</p>
    <p>are we, so impatient. That we should be so narrow, that experience</p>
    <p>blunts itself against our wider knowledge. So what do you fear?</p>
    <br />
    <br />
    <p>That final gasp, that too ready shiver, that obliterative, conclusive</p>
    <p>hardening of your veins. Will it help you? I hope so. Consider</p>
    <p>the birds as they nest; for what end do they strive? What meaning</p>
    <p>is embodied in their indefinite struggle? Questions, questions,</p>
    <p>they do not apply. What we fear is our inability to meet</p>
    <p>with humility and smile at the closing book, that falling</p>
    <p>curtain, the softly-clenched hand, the one last smile.</p>
</div>