<div class="holy_city_poems">
    <p>I</p>
    <br />
    <br />
    <br />
    <p>Colliders might glean love; might spark</p>
    <p>what other men think of as god, or satan,</p>
    <p>as particles ignite in their due order, a quark</p>
    <br />
    <br />
    <p>embered, suspended in the surface of a lens</p>
    <p>observerd by a blue eye as it focuses.</p>
    <p>The potential and allure calmly guides our attention</p>
    <br />
    <br />
    <p>to the great I Am: love is a plague of locusts,</p>
    <p>a yearling listening lambent in a field.</p>
    <p>It’s nothing less than writing heaven, this opus</p>
    <br />
    <br />
    <p>of acceleration and collision as fallout reels</p>
    <p>in vacant space. And that is why we embark:</p>
    <p>to be vast as our sight, prodigal as the sky, ideal.</p>
</div>