<div class="holy_city_poems">
    <p>VII</p>
    <br />
    <br />
    <br />
    <p>The ever-increasing distrust of authority,</p>
    <p>a sentiment shared by artists and the revolution,</p>
    <p>covalent in the reality that gravitating bodies</p>
    <p>are whipped like a hammer throw</p>
    <p>around a compelling body of force. Resist,</p>
    <p>they say in their childhood, and be rewarded</p>
    <p>with a privileged seat outside the whims</p>
    <p>of gravity wells and influences of mass.</p>
    <br />
    <br />
    <p>Encourage them when you see them:</p>
    <p>they’re primeval. Without acknowledgment</p>
    <p>of a stunning force unfathomably beyond</p>
    <p>what a mere single data point can detail,</p>
    <p>we as a series cannot track the movement</p>
    <p>of the heavens; without a hurtling interlocutor</p>
    <p>distrusting the authority of a the gravity assist</p>
    <p>from a slow to rouse presence of an uncaring orb</p>
    <br />
    <br />
    <p>we’d never have an asteroid drunk</p>
    <p>on rebellion and ignorance slam into</p>
    <p>the calmly observant alike obliterating</p>
    <p>everything we know.</p>
</div>