<div class="holy_city_poems">
    <p>V</p>
    <br />
    <br />
    <br />
    <p>The popping echo of birdcall in the morning (but only</p>
    <p>in the morning) as it gains new life in the reverberative</p>
    <p>column of the stair convinces me briefly but immediately</p>
    <p>of muted human conversation &mdash; emitted from a television</p>
    <p>most likely &mdash; enough to question whether my conviction</p>
    <p>that the house is empty beyond my meager inhabitative</p>
    <p>signs: the creak in the hall, the gentle but not </p>
    <p>completely inaudible closing of a door. In that instant</p>
    <p>when pale truth is forced like the prodding of a proof</p>
    <p>into stunned then steadying confirmation &mdash; it is</p>
    <p>only birds &mdash; is it better to pretend myself not as alone</p>
    <p>as I imagined in the comfort of fraternity or the fear</p>
    <p>of intrusion? It is better to perceive the house</p>
    <p>as always full with signs of life, acknowledgment</p>
    <p>that something, somewhere, will always be returning.</p>
    <br />
    <br />
    <p>Perhaps more so than at any other time the bed
    <p>expects to share my company again in the morning
    <p>when birdcall fools for speech and fills the stair.
</div>