<div class="holy_city_poems">
    <p>III</p>
    <br />
    <br />
    <br />
    <p>Where are you, you spirit I once worshiped?</p>
    <p>Lost amid these sylvan fields of eyes, on the scores</p>
    <p>who also draw no affection from me.</p>
    <br />
    <br />
    <p>These most difficult of verses, extracted from</p>
    <p>calls in a crowded room &mdash; neither are you here.</p>
    <p>I once would see your face, your spectral form,</p>
    <br />
    <br />
    <p>in crowds, memories of clouds gathering around</p>
    <p>the stone-strewn beach. Now I never mistake you.</p>
    <p>However briefly my thoughts cradled your face,</p>
    <br />
    <br />
    <p>no more does it spring, like a referent, to mind.</p>
    <p>I can't but miss you for your mere unpresence,</p>
    <p>longing for the slow and calculated annihilation</p>
    <br />
    <br />
    <p>I found only in you. I scan the oscillating crowd,</p>
    <p>not expecting you there, and naturally can't find you.</p>
    <p>Smoke seeps through the windows barricading</p>
    <br />
    <br />
    <p>the frost and all those true believers in the dark.</p>
    <p>How might their forms bring their idols to glory;</p>
    <p>to what simple icon do they long to surrender?</p>
</div>