<div class="holy_city_poems">
    <p>II</p>
    <br />
    <br />
    <br />
    <p>Nothing comes from somewhere. Not even</p>
    <p>in the beginning was there less than the impossibly</p>
    <p>dense spot that bloomed like a cancer,</p>
    <p>spewed galaxies. Ah, but remember that</p>
    <p>nothingness is all around, right here, just look!</p>
    <br />
    <br />
    <p>For example, the ocean: fed by every stream and brook</p>
    <p>it thereby assumes all form and gently leavens</p>
    <p>the staff of life with its diversity. It’s easily implicit</p>
    <p>that nothingness too swims in its roiling viscosity</p>
    <p>like a narrative of no words or form, a riddleless answer.</p>
    <br />
    <br />
    <p>What I could tell you about nothing could fill a book,</p>
    <p>and it all had to come from somewhere. A flitting bat</p>
    <p>has his roost, origin itself sits on this side of idolatry.</p>
    <p>To deny this obvious sequence is to fetishize “being.”</p>
</div>