<div class="holy_city_poems">
    <p>VI</p>
    <br />
    <br />
    <br />
    <p>When does youth cease to be forgiven? Not at the finish</p>
    <p>of ceremonies traditional or new, familiar, tested; not</p>
    <p>with sybilline breaths of exultation nor pain, nor rebellion</p>
    <p>nor duty; no bat mitzvah, first cigarette purchased,</p>
    <p>learner's permit or diploma awarded, going to war,</p>
    <p>to bed with another, no departure from home.</p>
    <p>They're all the same and insufficiently mark</p>
    <p>the conclusion of carefree discovery, exploration</p>
    <br />
    <br />
    <p>and the start of repaying the colonialist's debt.</p>
    <p>I ask for while I am bequeathed with youth</p>
    <p>my ancestors had killed and conquered, built</p>
    <p>and spent themselves a dozen times at my age.</p>
    <p>This lament does not reference some heraldic era,</p>
    <p>there are those who still live who have clasped</p>
    <p>those hands, remember their laughs, anoint</p>
    <p>their glories with the adamant of memory.</p>
    <p>Were they so readily forgiven? They cherish</p>
    <br />
    <br />
    <p>their children, of course, but I wonder when time</p>
    <p>is nigh &mdash; or passed &mdash; when we must forcefully shear</p>
    <p>the down of first growth from those humid memories</p>
    <p>and their sick desire, not for their sake or ours</p>
    <p>but for all, and indict them their crimes. Or we can</p>
    <p>gild ourselves further, let responsibility die,</p>
    <p>and exonerate present and future guilts, let decadence</p>
    <p>persist, forgive all we see, forever freeze the soils.</p>
</div>