<div class="holy_city_poems">
    <p>IX</p>
    <br />
    <br />
    <br />
    <p>That which we lose is a theft, an impossibility</p>
    <p>as the static distractions of our careful labyrinths</p>
    <p>shift underfoot -- we turn and they're gone.</p>
    <p>We open night's window to a sudden day</p>
    <p>dripping with mist (that grove by the bus stop</p>
    <br />
    <br />
    <p>dazzled by shade, limpid browns in the morning,</p>
    <p>radiant at dusk) and our bleat of surprise</p>
    <p>echoes the road, the shout from the street. I examine</p>
    <p>Magritte and his dynamo of flame, the sun,</p>
    <p>quite naturally, as important in gloaming as any</p>
    <br />
    <br />
    <p>sunrise. What is stolen is lost, and can't be redressed</p>
    <p>not "it," not its thing, always different as a river.</p>
    <p>Why not turn an iris into an unblinking measureless</p>
    <p>sky? We're all filled enough with that mankind of rain,</p>
    <p>and the theft of the moons congratulates us on being in</p>
    <p>on the joke.</p>
</div>