<div class="holy_city_poems">
    <p>VIII</p>
    <br />
    <br />
    <br />
    <p>This is the last poem I'll ever write for you.</p>
    <p>The moon has waned, and its inscrutable disk</p>
    <p>obscures the stars on their path through</p>
    <p>the firmament; where there was once</p>
    <p>a revolution, there is now merely nothing.</p>
    <br />
    <br />
    <p>I had no tongue for anger then &mdash; too gracious</p>
    <p>to blame it on the emotionless mien</p>
    <p>of the shocked &mdash; and it feels unwanted</p>
    <p>still in my voice. Like the moon, I know</p>
    <p>it's still there, shadowed and dark</p>
    <br />
    <br />
    <p>and beyond any palpable study.</p>
    <p>This, this is the penumbra of betrayal, and so</p>
    <p>I consign you to the veils of my history.</p>
    <p>I'll write you no more, you the unsubjected,</p>
    <p>and banish the memory of your cameo eyes</p>
    <p>to a book I have closed, sent away,</p>
    <p>and forgotten.</p>
</div>