<div class="holy_city_poems">
    <p>Autumn Diptych</p>
    <br />
    <br />
    <br />
    <p>It’s already late autumn but somehow a mosquito</p>
	<p id="diptych">is alive on the white tile of the bathroom. Sensate</p>
    <p>and delicately-haired legs are primed in predatory</p>
    <p id="diptych">readiness, but it’s completely still. As out of place</p>
    <br />
    <br />
    <p>as a liquid nitrogenated rose, its shadow is frozen</p>
    <p id="diptych">by the harsh blast from the high-watt bulbs.</p>
    <p>My curiosity exhausted, I finally decide that</p>
    <p id="diptych">it’s suddenly lights out. How unlike that standard</p>
    <br />
    <br />
    <p>revenant of autumn: crows churning in their murder</p>
	<p id="diptych">over the newly, finally threshed field, their shadows</p>
    <p>alive in the dimming filament as the treeline,</p>
	<p id="diptych">silhouetted, hardens, then softens, then glows.</p>
</div>