<div class="holy_city_poems">
    <p>At Fenway Park, 4/23/13</p>
    <br />
    <br />
    <br />
    <p>1.</p>
    <br />
    <p>We clicked through the turnstiles,</p>
    <p>the mourning filled lot of us, and left,</p>
    <p>we thought. the heavy and dropping fog</p>
    <p>of the fell and rancorous Boston April.</p>
    <p>My brother was in high spirits;</p>
    <p>I was in high spirits. This was Fenway</p>
    <p>after all. The novelty of seeing a game</p>
    <p>never evaporates, or dissolves. Our hurt</p>
    <p>and blood forgotten to the already obviously</p>
    <p>brutal conditions playing themselves out</p>
    <p>before us. We never mentioned it, so on</p>
    <p>our minds. We wanted to see the Red Sox,</p>
    <p>no matter what, no matter where we sat.</p>
    <br />
    <br />
    <p>2.</p>
    <br />
    <p>When I was a child, I would empty my bowl</p>
    <p>in the tub on my head, on the shower walls,</p>
    <p>infrequently on the mildew-ready tiles</p>
    <p>(accident, then a test of boundary,</p>
    <p>then a confirmation of boundary,</p>
    <p>then rebellion) then dunk it against</p>
    <p>gravity into the cloudy foam. And the water,</p>
    <p>surprised, would plummet to the bowl,</p>
    <p>filling it with a scoff, annoyed</p>
    <p>at the laws of displacement.</p>
    <br />
    <br />
    <p>3.</p>
    <br />
    <p>Once upon a time, the Red Sox</p>
    <p>were sold, and some clamored</p>
    <p>for a domed stadium: Fenway</p>
    <p>was decrepit, doomed, in a provable</p>
    <p>state of dangerous disrepair. Boston</p>
    <p>cannot withstand such assaults,</p>
    <p>we can't sustain the force, the focus,</p>
    <p>the tragedy after so much tragedy</p>
    <p>has been endured. New York,</p>
    <p>the new owners noted, doesn't care</p>
    <p>about these fey demands. They persevere.</p>
    <p>And so our broken toy, our rended bear,</p>
    <p>was rebuilt and resewn; good as new,</p>
    <p>better.</p>
    <br />
    <br />
    <p>4.</p>
    <br />
    <p>In 1914, a World's Series game</p>
    <p>was nearly called due to fog. The Giants</p>
    <p>protested the results, but they stood.</p>
    <p>The park is not all of Fenway; Fenway</p>
    <p>grows and breathes around it. It flares</p>
    <p>and smolders, and decays, and becomes</p>
    <p>fetid, and renews, and sometimes,</p>
    <p>optimistic, we plant gardens and pave</p>
    <p>a charming path. But it has never been</p> 
    <p>denied.</p>
    <br />
    <br />
    <p>5.</p>
    <br />
    <p>I clicked on the nautical forecast by mistake</p>
    <p>and it assured me that the low pressure beast</p>
    <p>wreaking havoc and ice upon us now would,</p>
    <p>by morning, break. And since it was forced</p>
    <p>from North Carolina we would be gifted</p>
    <p>with a southern warmth, and Spring would,</p>
    <p>finally, inexorably begin. But now we're in</p>
    <p>the teeth of it. "Driving mist" my dad would say,</p>
    <p>but he could never have been more apt.</p>
    <p>Cyclones developed, throughwind blocked,</p>
    <p>above home plate as we saw the nativity</p>
    <p>of tempests born before us. The wind</p>
    <p>forced the rain over the monster and down,</p>
    <p>as callous a plaything, so varied, as we.</p>
    <p>It was the end of the world. It was beginning.</p>
    <p>We couldn't believe the people in the stands</p>
    <p>braving the brunt of the storm, but they stayed,</p>
    <p>after us, under cover, until the shortened end.</p>
    <p>The world is a film of mist, windburning my face,</p>
    <p>offering to allow us to stare into it unblinking,</p>
    <p>or retreat to a remove and document its turning.</p>
    <p>In either case, I sat beside my brother, basked</p>
    <p>in the beauty of our Euclidean determinations</p>
    <p>and Nature's beguiling irregularities, sang</p>
<p>"Take Me Out to the Ballgame," and left.</p>
</div>