<div class="holy_city_poems">
    <p>The Hajj</p>
    <br />
    <br />
    <br />
    <p id="hajj">1. My Name Is Red</p>
    <br />
    <p>God is great for you, so pensive reading late</p>
    <p>this Sunday, bridging your perception from Harvard</p>
    <p>to Alewife. In you all things are known, your study</p>
    <p>purviews all fields, and you moon to the rapidly absorbed</p>
    <p>page like a Madonna; each argument questioned,</p>
    <p>every question resolved. Your grimaces</p>
    <br />
    <br />
    <p>and smirks of affirmation (whose?) wrap</p>
    <p>your pleated hair &mdash; two twirls &mdash; loosed</p>
    <p>then tighter. My tracks bow to this recognizable</p>
    <p>pressure, as always, and I thrill to the commonness</p>
    <p>of this specific beauty. Whither you to Arlington</p>
    <p>or points beyond? How concludeth thou thy works?</p>
    <br />
    <br />
    <p>We all reach the terminus, as one, together.</p>
    <p>I will roll to and back; my nature commands it.</p>
    <p>But pause just once at my entrance and see</p>
    <p>how the man holds his lover's hand without censure,</p>
    <p>how the city blooms as I rise from its heart, what you read</p>
    <p>as it lives like a wind-propped door, known to all.</p>
    <br />
    <br />
    <p id="hajj">2. My Name Is Orange</p>
    <br />
    <p>You cistern of tears now evaporated of weeping,</p>
    <p>God is a distant glimmer, a star, as you gather</p>
    <p>the flowers of heaven and mourning. I share</p>
    <p>your implacable knowledge, that our path</p>
    <p>is a battlefield of of unsure alliances, the give</p>
    <p>and attrition as the city's mill works through</p>
    <p>its grist. We don't know why, and find</p>
    <p>no solace that, in this, all cities are at heart</p>
    <p>the same. We both know that for our sons</p>
    <br />
    <br />
    <p>eyes have no corners, wide and searching</p>
    <p>until the bullet hits, the unsubtle knife,</p>
    <p>as life betrays itself to itself. But too we gather</p>
    <p>the flowers of God, though every mournful</p>
    <p>station is curtained in rain, the truth</p>
    <p>that through the rot there are gardens</p>
    <p>at each end, the knowledge, hard wrested</p>
    <p>from the vein, blossoms from the muck.</p>
    <br />
    <br />
    <p>These words are not meant to console, we must</p>
    <p>continue. O weep, my sister, and find in me</p>
    <p>a route through suffering. Believe your pain</p>
    <p>and recuperation are validated by attention,</p>
    <p>if not from all, then at least from me. I must</p>
    <p>believe, and in belief be each of us redeemed.</p>
    <br />
    <br />
    <p id="hajj">3. My Name Is Green</p>
    <br />
    <p>You do not matter to me. God's righteousness</p>
    <p>is the only standard to which I accede,</p>
    <p>creaking as I do under your oppressive weight</p>
    <p>and thankless as the seasons that harry me</p>
    <p>the same as you. Even in our similarities</p>
    <p>I find nothing to admire, we age and fill</p>
    <p>with out inadequacies, though I connect</p>
    <p>all the arts, all the sciences, purview the full</p>
    <p>breadth of the city. So curse me, though I know</p>
    <br />
    <br />
    <p>you didn't need my permission. Your oaths</p>
    <p>are not received. I know that without me</p>
    <p>you're nothing, you do not exist unless observed</p>
    <p>by me. Your congested crowd, your wild</p>
    <p>effusions, yes they are me too. I, the embodiment</p>
    <p>of the city's veins without which the blood</p>
    <br />
    <br />
    <p>is but so much spent ichor. It's best to commune,</p>
    <p>to surrender to this for your struggle is futile.</p>
    <p>If your heart truly wishes to forever endure</p>
    <p>and not, as I suspect, to long for oblivion,</p>
    <p>then bow like a branch of pine to the sun, accept</p>
    <p>that only together can we persevere.</p>
    <br />
    <br />
    <p id="hajj">4. My Name Is Blue</p>
    <br />
    <p>You, you who are living along the shore,</p>
    <p>you who carry the water in your heart</p>
    <p>and the sea for you carries your dreams</p>
    <p>to the limning sunrise, you who reaches</p>
    <p>like a range across the border, who glances</p>
    <p>against the beginnings and who create</p>
    <p>your own ends, who tie with fascination</p>
    <p>the capering of our polity, you who trace</p>
    <p>a following wave as it bowls along the piers</p>
    <br />
    <br />
    <p>God is great for you, as he is for the traveler</p>
    <p>who manifests the stars in his searching eyes,</p>
    <p>who himself is manuscript illuminated</p>
    <p>under the tombs of our founders, across</p>
    <p>the skies of our town. And so are all of us</p>
    <p>all, all alike, perrenial with the Charles,</p>
    <p>constant as the Esplanade elms, nodding</p>
    <p>with the chiming bells across the landscape</p>
    <p>sounding one, then many, then all, then none.</p>
    <br />
    <br />
    <p>You are the reach, and of us all is enshrined</p>
    <p>as a realm; the grove becomes a forest, the wood</p>
    <p>hollows and shelters us. And so our introspection</p>
    <p>too illuminates our varied and hopeful origins,</p>
    <p>and with what excited wonder do we anticipate</p>
    <p>whatever awaits at the end.</p>
</div>