<div class="holy_city_poems">
    <p>Hard Rain</p>
    <br />
    <br />
    <br />
    <p>It's easy to say tears dry like rain, or as absorbed</p>
    <p>into my cotton sweater like thirsty soil</p>
    <p>or their memory dries and scabs like a lanced boil</p>
    <p>and sun shines through them, unprismatic, the world</p>
    <br />
    <br />
    <p>stretching tired joints, ready to be again on its way.</p>
    <p>Why shouldn't it? What barrier prevents</p>
    <p>my dismissal of those few months as a brief event,</p>
    <p>like a meteor shower or a comet's visit? That is to say</p>
    <br />
    <br />
    <p>I want this fancy silenced fully, not emergent</p>
    <p>depending on the hour or night, and other times dead</p>
    <p>as the spring's dogwood heavy breeze. The photo should</p>
    <p>be wan and pat; the penmarks, dotting minor touches, spent</p>
    <br />
    <br />
    <p>as the last detail of that last doorframe kiss</p>
    <p>so all that's left is to blow on the drying</p>
    <p>ink, the final sigh full of furtive meaning,</p>
    <p>punctuated by the distant already silent click.</p>
</div>