<div class="holy_city_poems">
    <p>The Holy City</p> 
    <br />
    <br />
    <br />
    <p>On top of a building a few blocks away, I see</p>
    <p>a pagoda, red and yellow, green-roofed,</p>
    <p>perched on one of those buildings that bear</p>
    <p>the scars of once being many buildings. The gate</p>
    <p>is nearby – I could stretch through the glass</p>
    <p>and touch it – and I remember the disappointment</p>
    <p>felt, peeking as from behind velvet: the pagoda</p>
    <p>could be seen from the street. Directly across,</p>
    <p>near enough that he could be reached in a leap,</p>
    <p>a window washer, frog hopping in the wind, pauses</p>
    <p>to check his cell phone. He lets fall from his pail</p>
    <br />
    <br />
    <p>waxy beads of soap water, allowing them</p>
    <p>to vaporize on the breeze. Sun-white, his shirt</p>
    <p>billows a response to the furling construction</p>
    <p>tarp that has wrapped that distant building</p>
    <p>in Chinatown, or just beyond Chinatown,</p>
    <p>since before I first noticed it ten months</p>
    <p>ago. The pagoda and gate are mutely</p>
    <p>reciprocal. It is an act of willful forgetting</p>
    <br />
    <br />
    <p>that I never have looked at the top of the roof</p>
    <p>on the building down High, wasting</p>
    <p>the effort spent on the street of deciding</p>
    <p>whether it would take me stealing</p>
    <p>to an empty office on twelve or if the view</p>
    <p>from eleven would be fine. That, too,</p>
    <p>is forgotten; memory, effort, dripping</p>
    <p>from a bucket into the mindful gaps</p>
    <p>of the cobblestones. The pilgrims come</p>
    <br />
    <br />
    <p>in lines, set their tents in homage, then</p>
    <p>depart, a carpet of fresh sod rolled over</p>
    <p>their offerings. Each square is a station</p>
    <p>I devote myself to; the department store chimes</p>
    <p>and the bells of the Park Street Church</p>
    <p>my combating celebrants. The votive</p>
    <p>glow of the towers ignites in the dusk &mdash;</p>
    <p>there are never coincidences</p>
    <p>in the sanctuary.</p>
</div>