<div class="holy_city_poems">
    <p>In the Cathedral</p>
    <br />
    <br />
    <br />
    <p>When a pilgrim lingers in the cathedral too long</p>
    <p>his memories of trees are replaced with columns.</p>
    <p>Gargoyles frown from the branches, the balls of flame</p>
    <p>hang as inverted acorns; the squirrels</p>
    <p>are replaced with acolytes, the eagles replaced</p>
    <p>with rats. He can feel that light faculty</p>
    <p>of what is grown fade keenly. It's a curio.</p>
    <p>The agate sun purples behind glass, its all-light</p>
    <p>shriveled to a handful of hues. This fable</p>
    <br />
    <br />
    <p>is read the same in the city. I've heard</p>
    <p>tell that the suddenness of two stars identifies</p>
    <p>evening, and the third star’s dawning defines night.</p>
    <p>I try my patience attempting to discern that passage</p>
    <p>on any given street as I sift through the airplanes</p>
    <p>and radio tower lights, the interstitial ether</p>
    <p>growing sickly orange as streetlamps’ luminescence</p>
    <p>matures in the growing dark. The verdure of the copper</p>
    <p>facades is limned in every light, rain-sick grey</p>
    <p>or bleakly streetlit. It’s easy, natural, to be stirred</p>
    <p>by this beauty. That’s why, after all, we gathered</p>
    <br />
    <br />
    <p>around the altar. The city becomes</p>
    <p>our periphery. Like a forest, it’s relentless;</p>
    <p>the windows that open in a shot</p>
    <p>are not so unlike the cloud of sparrows</p>
    <p>from a field; contrails bend in the troposphere</p>
    <p>&mdash; I see! &mdash; like the doe raising her neck,</p>
    <p>wanting to believe no danger is near.</p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <nav aria-label="...">
          <ul class="pager">
            <li class="previous"><a href="#"><span aria-hidden="false">&larr;</span> Older</a></li>
            <button data-dropdown="drop" aria-controls="drop" aria-expanded="false" class="large alert round button dropdown">Dropdown Button</button><br>
            <ul id="drop" data-dropdown-content class="f-dropdown" role="menu" aria-hidden="false" tabindex="-1">
            </ul>
            <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
          </ul>
    </nav>
</div>

