<div class="holy_city_poems">
    <p>The Known</p>
    <br />
    <br />
    <br />
    <p>Gulls careen through the updraft between buildings,</p>
    <p>they don’t care to believe in the act of rising or falling</p>
    <p>while so far aloft. The white rain of winter</p>
    <p>is forestalled by their silence, no echo-strewn cries</p>
    <p>to defend, proclaim their greed. So the rain,</p>
    <p>for now, will not intimate stone.</p>
    <p>It won’t shatter like candy against</p>
    <p>the impervious towers. It’s necessary</p>
    <p>for it to outlast the gulls &mdash; but it will. Wings</p>
    <p>eventually tire and give way and the lure</p>
    <p>of the sea, they know well, is vouchsafed, secure.</p>
    <p>But perhaps this rain that so happily recalls</p>
    <br />
    <br />
    <p>stone will imagine itself as the stone of the breaker,</p>
    <p>each crash of the wave its own memory</p>
    <p>of wind, the beard of foam that settles in place</p>
    <p>an ornament of pride; ah, to be that eternal</p>
    <p>stone! How fitting a dream for December rain</p>
    <p>to finger in its fall like a rosary</p>
    <p>on its crash to Earth. I’ll count all the branches</p>
    <br />
    <br />
    <p>and imagine how perfectly they’d lash at my ears,</p>
    <p>red and insensate and alert to the street.</p>
    <p>And the sun will sink into the wind, to rise</p>
    <p>as dutiful as ever for my march down the hill.</p>
    <p>Once still, I’ll check over, one by one, all my pockets,</p>
    <p>measure their weight or their emptiness</p>
    <p>with the body that supports them. In this</p>
    <p>silent prayer I’ll catalog them all and determine</p>
    <p>whether or not I have all that I need.</p>
</div>