<div class="holy_city_poems">
    <p>Last Train</p>
    <br />
    <br />
    <br />
    <p id="lt1">The train doors open and I become the forest</p>
    <p>where light glows on the moss floor &mdash; such disparate</p>
    <p>parts: needling hair, unsunned dew feeding spores,</p>
    <p id="lt2">and the rest of the ecosystem, solitary</p>
    <p id="lt3">this time of night.</p>
    <br />
    <br />
    <p>They open again and I am the glimpse of patience,</p>
    <p id="lt1">a nebula of a thousand boredoms sustained</p>
    <p id="lt4">by due expectation: that a train will come;</p>
    <p id="lt2">that faith &mdash; the belief a remote system</p>
    <p>will acknowledge us as we expect &mdash; is real,</p>
    <p id="lt3">is valid and always rewarded.</p>
    <br />
    <br />
    <p id="lt1">As they open and close, my eyes are the tunnels</p>
	<p id="lt1">filled with flashing light and muttered conversation;</p>
	<p id="lt5">mean spirits and the hobgoblins of ordinary thought</p>
	<p id="lt6">prowl across the handlebar motes. I blink and blink</p>
	<p id="lt4">so the ones who stand on the goosebump yellow stripes</p>
    <p>will fear being clipped, being rent from the platform.</p>
	<p id="lt1">I am their champion, the safety camera indicator bars,</p>
	<p id="lt5">their security assured if only they'd listen, would see.</p>
	<br />
	<br />
	<p id="lt2">The doors open again to the soft night rain,</p>
    <p>their heavy mist a nuptial rapture to the constriction</p>
	<p id="lt5">beneath the city. The drops measure themselves,</p>
	<p id="lt7">each one an invitation to a world</p>
	<p id="lt2">they won't share. I am the chime as we lean</p>
	<p id="lt4">into the station: last stop, take your belongings,</p>
	<p>we're done here, go home.</p>
</div>