<div class="holy_city_poems">
    <p>Ode</p>
    <br />
    <br />
    <br />
    <p>Compare these two types of thought:</p>
    <p id="ode2">we track, passively but enthralled,</p>
    <p id="ode1">fireflies as their numbers fold into</p>
    <p id="ode1">themselves; so numerous but not</p>
    <p id="ode2">as infinite as they, in their blinking</p>
    <br />
    <br />
    <p>uncountability, seem. And then:</p>
    <p id="ode2">the vast, calm reservoir, spotted</p>
    <p id="ode1">with bobbing geese, housing something</p>
    <p id="ode1">they, at least, determine worthy to break</p>
    <p id="ode2">the surface, upended, to the last breath.</p>
    <br />
    <br />
    <p>Of course, these aren't the only types,</p>
    <p id="ode2">but their difference imports most</p>
    <p id="ode1">others. With no nightfield of light</p>
    <p id="ode1">where do we find motes suspended</p>
    <p id="ode2">in the curiosity of the turbulent sun?</p>
    <br />
    <br />
    <p>And where but along the reservoir,</p>
    <p id="ode2">specked here with hares, there a dead mouse,</p>
    <p id="ode1">and strewn with straw, does time compress</p>
    <p id="ode1">to the lilt of your laugh, and yet the way back,</p>
    <p id="ode2">alone, seems so impossibly long?</p>
</div>