<div class="holy_city_poems">
    <p>Reel 
    <br />
    <br />
    <br />
    <p>I’ve found it most effective to cool off</p>
    <p>in the summer by running cold water</p>
    <p>over my feet in the tub. Nothing better</p>
    <p>to do, I thumb through Larkin’s collected</p>
    <p>while thinking of you. Music reverberates</p>
    <p>like heat from the next room, and I barely</p>
    <br />
    <br />
    <p>can hear it. So I hum this and that over</p>
    <p>the shouting tap, imagining I’m taking</p>
    <p>requests from the audience. Tired</p>
    <p>sentimentality, all of it. But Schubert</p>
    <p>and Bowie, Mendelssohn and Buckley</p>
    <p>entertains you, I think, as you languidly</p>
    <br />
    <br />
    <p>hear, unlistening. There’s no ignoring</p>
    <p>the recognition of my genuine audience:</p>
    <p>the serious sparrows out there in the heat,</p>
    <p>the cobwebs, so unlike your eyes, themselves</p>
    <p>like still clouds, distracted and bored</p>
    <p>in the windless summer.</p>
</div>