<div class="holy_city_poems">
    <p>Selection</p> 
    <br />
    <br />
    <br />
    <p>The reticule of the yard allows</p>
    <p>those furtive, fleeting snowflakes</p>
    <p>to the ground; this will be a year when</p>
    <p>the wrought-iron snow gauge</p>
    <p>will not be made full use of.</p>
    <br />
    <br />
    <p>Well before we moved here,</p>
    <p>a plague afflicted the birches</p>
    <p>so we can only admire a few here</p>
    <p>and there across the yard. Ice storms</p>
    <p>come and we need to fell those hardy</p>
    <br />
    <br />
    <p>survivors; they beat the virus, withstood</p>
    <p>the frost only to submit to euthanasia.</p>
    <p>Insouciant, the snow gauge, silent canter, rests.</p>
    <p>Venus, then Jupiter, peers through the flux,</p>
    <p>and night insists the floodlights' tribute</p>
    <p>for vision.</p>
</div>