<div class="holy_city_poems">
    <p>On Shady Grove Methodist, Outside Sparta, Tennessee</p>
    <br />
    <br />
    <br />
    <p>What do I know of the sanctuary?</p>
    <p>When I look at those beams,</p>
    <p>and I smell the cooling chicken</p>
    <p>placed languidly by the deacons'</p>
    <p>wives during the anthem, in full view</p>
    <p>of the cemetery where mawmaw is,</p>
    <p>the red clay and summer mingling</p>
    <p>with the humidity, and their shadows</p>
    <p>seem to shrug against the characteristic</p>
    <br />
    <br />
    <p>winnowed light; well, what do I know</p>
    <p>of the Sanctuary? It can only be known</p>
    <p>like a parable. They gathered around</p>
    <p>Harold and sang him a psalm, something</p>
    <p>simple, what they all knew, to raise</p>
    <p>his flagging spirits. Met with silence,</p>
    <p>the roomful of them,</p>
    <p>clutching to his slipping life,</p>
    <p>sang another and another, until,</p>
    <p>at last, his breath, as bountiful as ever</p>
    <p>chided them, "Enough with all</p>
    <p>that blasted singing!"</p>
    <br />
    <br />
    <p>Out in the cornfields, the red clay</p>
    <p>yields to our footsteps like plaster.</p>
    <p>Brother, do you know about</p>
    <p>when we walked back in the dark,</p>
    <p>the sky insane in the parabola</p>
    <p>of stars, when you told me of all the snakes</p>
    <p>lying in sinister wait? You ushered courage,</p>
    <p>instilling faith that at the homestead there</p>
    <p>would rest a placid glass of milk and a hallowed,</p>
    <p>sleepful gaze of the farm.</p>
</div>