<div class="holy_city_poems">
    <p>Sonnet</p>
    <br />
    <br />
    <br />
    <p>The silence of absence is so brazen and hollow,</p>
    <p>it echoes in my chest and is bombarded by the alarum</p>
    <p>of life. For everything clamors to prove</p>
    <p>their vital worth; pigeons pondering a crumb,</p>
    <p>a shout from a passing, coughing car,</p>
    <p>the arresting volume of music cascading from a door,</p>
    <p>all screaming life, or death, or resurrection;</p>
    <p>a sonic presence to reaffirm their intrinsic being.</p>
    <p>But not absence. It isn't mute or unresponsive,</p>
    <p>on the contrary, it reacts (noiselessly, silent,</p>
    <p>removed of sound) casually, cruelly, incapable</p>
    <p>of remark, foreign to noise. So I prod at it</p>
    <p>thoughtfully, knowing it is &mdash; my heart &mdash;</p>
    <p>but, relieved of sound, cannot believe it can be.</p>
</div>