<div class="holy_city_poems">
    <p>Our Trespasses</p>
    <br />
    <br />
    <br />
<p>Once able to recognize prayer, you never escape</p>
<p>noticing it. It eases, as in a separation,</p>
<p>from all other solemn acts of devotion,</p>
<p>because it isn't meditative; it's not</p>
    <p>an act of control, honor or exuberance.</p>
    <br />
    <br />
    <p>The silent couple, hands uplifted, bask</p>
    <p>in the woman's inaudible words, her partner</p>
    <p>a mask of beatitude. An old woman delicately lifts</p>
    <p>her sari just to the knees and, her family</p>
    <p>honoring her with their attention, wades</p>
    <p>into the coursing, shallow rapids of a wide, holy river.</p>
    <br />
    <br />
    <p>They enter your life from the periphery like beholding</p>
    <p>a child nursing at his mother's breast, your notice</p>
    <p>itself becomes an intrusion and the best you can do</p> 
    <p>is steal away with the imagesof actions</p>
    <p>done for their own sake, not to be seen.</p>
    <p>A fleeting flash of green explodes from the horizon</p>
    <p>as the sun finally vanishes; after, as before,</p>
    <p>things remain exactly as they seem.</p>
</div>