<div class="holy_city_poems">
    <p>Tribute</p>
    <br />
    <br />
    <br />
    <p>A Roman merchant resting on his way</p>
    <p>wanders across an open field once home</p>
    <p>to a temple devoted to an obscure god.</p>
    <p>Ribs of columns, bitter flagstones, crumbling</p>
    <p>mortar scattered there for his simple delight.</p>
    <br />
    <br />
    <p>He admires them their calming whimsical</p>
    <p>ruin, pauses thought to cast himself</p>
    <p>an acolyte or cantor, is amused</p>
    <p>by the rituals he invents, and goes</p>
    <p>back to his journey. He may be thoughtful</p>
    <br />
    <br />
    <p>and mention it to his wife, but nothing else</p>
    <p>will be told of his stay. </p>
    <br />
    <br />
    <p>I sit across the street idly watching</p>
    <p>a construction crew renew an old facade</p>
    <p>where once they would have bashed</p>
    <p>the whole thing down, start from new.</p>
    <br />
    <br />
    <p>Where can I find the inscrutable ruins left here</p> 
    <p>by the pallid they who came before?</p>
</div>