<div class="holy_city_poems">
    <p>Voiceless</p>
    <br />
    <br />
    <br />
    <p>Playing cards arrange themselves perfectly in their deck,</p>
    <p>their box a shroud, a mantle; see how only shadows</p>
    <p>move, illuminating their order. The shadows listen</p>
    <p>to a ticking, something out of sight, turning, as an apple</p>
    <p>in a hand, the walls from beige to gold.</p>
    <br />
    <br />
    <p>And what do the cards hear? Shuffling,</p>
    <p>their corollary to my rocky tide, sussurates</p>
    <p>against the inside of their box, so full of sound,</p>
    <p>so proud of their coming and former</p>
    <p>commotion; too much so, in any case,</p>
    <br />
    <br />
    <p>to pay attention to what anything else</p>
    <p>has to say. I play to their game; they know</p>
    <p>(the shadows too) that without me, their listening</p>
    <p>goes unheard. What worse fate than to trumpet</p>
    <p>your pride and find your love’s last rose</p>
    <br />
    <br />
    <p>has dropped its final disintegrating petal.</p>
</div>