<div class="holy_city_poems">
    <p>A Walk</p>
    <br />
    <br />
    <br />
    <p>1.</p>
    <br />
    <p>The food was all right but overpriced (we'd confess</p>
    <p>only later) so we launched our way through the gate,</p>
    <p>its stream-lined park, its waters blocked off from yeoman's</p>
    <p>use in cooling swell-heeled feet, to the mouth</p>
    <p>of the Greenway. Public art &mdash; for once, at last! &mdash;</p>
    <p>that offended delicate sensibilities ("it looks like</p>
    <p>a terrorist!") loomed playfully above an entrance</p>
    <p>to South Station, and you remarked that the city,</p>
    <p>so proud of the immigrants who built it,</p>
    <p>should acknowledge the immigrants who actively,</p>
    <p>right now, continue to build it. Our pace</p>
    <p>was slow, just enjoying our company. Your aunt</p>
    <p>sounds like a hoot, and I think I can remember</p>
    <p>mine being like that once, too. You repeat a story</p>
    <p>you've told me before but I don't interrupt you;</p>
    <p>our eyes alight on the same fashion disaster</p>
    <p>and we suppress our laughter until the city</p>
    <p>noise can muffle it for us. In the depth</p>
    <p>of the Greenway the traffic is hushed, and the gravel</p>
    <p>fluouresces in the dusk. "This is the sort</p>
    <p>of nature I can handle!" you say, and we turn</p>
    <p>across Atlantic to go out on the wharf.</p>
    <br />
    <br />
    <p>2.</p>
    <br />
    <p>No signs warned us to not climb on the cars</p>
    <p>but we resist the urge anyway and lean</p>
    <p>to the harbor. Some corporate shindig is unfolding</p>
    <p>out on the water. "Dead eyes," you pronounce</p>
    <p>and I recognize none of them. You crane,</p>
    <p>reposition, jockey to look if the drummer</p>
    <p>of the bread-white blues band is someone</p>
    <p>you know. I feel stultified, oppressed, by the</p>
    <p>whole wanton display, so I urge us continue</p>
    <p>to go further along; I keep to myself that you are</p>
    <p>stunning in sunset. "Now these lofts," I offer,</p>
    <p>"these might be all right," and you allow that the water</p>
    <p>prods them towards acceptability. Now the light</p>
    <p>and the granite emit the same pulse, but it's not quite</p>
    <p>the gloaming &mdash; that won't be ours to perceive.</p>
    <br />
    <br />
    <p>3.</p>
    <br />
    <p>Horrified at my inexperience, you beeline us to the seals</p>
    <p>and compress our noses against the dingy glass.</p>
    <p>Like memories they float through the water</p>
    <p>and dive, just missing collision, and you bleat out,</p>
    <p>"High five!" We wander back to the path</p>
    <p>near its terminus at this point and we needlessly</p>
    <p>glance at the Customhouse clock. Veering to the arbors</p>
    <p>of Columbus Park, the festival of Agrippina ("What'd</p>
    <p>she do?" "No one knows!") concludes by the sea.</p>
    <p>The rose garden is silent like the thick of the</p>
    <p>Greenway, and way more popular than I could've guessed</p>
    <p>and filled with rats, but the silence and closeness</p>
    <p>are worth the distraction of middle-aged couples</p>
    <p>snapping photos of roses, unimpressive, with a flash.</p>
    <p>We linger awhile, until another young couple sparks up,</p>
    <p>"O, I knew it immediately," and we relocate</p>
    <p>to the fountain before going on our way.</p>
    <br />
    <br />
    <p>4.</p>
    <br />
    <p>The city is never dark and the smoke</p>
    <p>made you giddy. You resolutley declare</p>
    <p>a course and can't stop laughing after I retort,</p>
    <p>"You got it, Sacajawea." The Commons seem</p>
    <p>stale and you can't hide your exhaustion.</p>
    <p>You talk about reentering routines in the fall</p>
    <p>and I secretly pray that it will make things better.</p>
    <p>This wasn't all of it (the insulting ad, the joke</p>
    <p>he didn't get) but it's enough, a near-perfect</p>
    <p>recreation of that chill midsummer day</p>
    <p>(can it only have been a month passed?) so thumbed</p>
    <p>and remembered by me in that time.</p>
    <p>I can picture you perfectly then, even now,</p>
    <p>how you were, a pure beam of joy</p>
    <p>as you raced to my hand, the six weddings</p>
    <p>we saw in the gardens ("Photographers love this light!")</p>
    <p>and you pointing out shops that I'd like,</p>
    <p>my guide, afloat on your glee. Though briefly,</p>
    <p>carefree, before carrying that smile away from me</p>
    <p>forever, it seems. Fortunately, that's not exactly</p>
    <p>how time works, its syllables are not constant</p>
    <p>and we can do with it as we please.</p>
    <p>I count down the sunsets, anticipate the first blushes</p>
    <p>of autumn, and breathe. I fling away seconds</p>
    <p>like matches, extinguished, collect all my thoughts,</p>
    <p>repeat what you said ("I need time") to the leaves.</p>
</div>