<div class="holy_city_poems">
    <p>Wind, Trees</p> 
    <br />
    <br />
    <br />
    <p>Across the street, along a fence, trees</p>
    <p>are lined, identically spaced, meticulous</p>
    <p>among the neighbor's barking dog,</p>
    <p>a little brother's cheers for a game of hoops,</p>
    <p>and they are full of sound too -- it's what gives</p>
    <p>wind its sound, like the snapping flag mostly</p>
    <p>horizontal and the city noises to the west</p>
    <p>usually too far away to hear. None</p>
    <p>of these trees are identical, this isn't</p>
    <p>one of Magritte's unsettling dreams neither</p>
    <p>is it one of those limpid Manet landscapes;</p>
    <p>they're similar enough, sure -- maple globes</p>
    <p>on characteristically thick trunks, dark</p>
    <p>green this late afternoon, red twigs</p>
    <p>phasing in and out of view.</p>
    <p>Like humans to a cat, they're all essentially</p>
    <p>the same, though the one second-nearest</p>
    <p>to the flag is smaller, scrawnier; Occam's Razor</p>
    <p>might imply that it's simply, somehow younger;</p>
    <p>though that so-even row initially</p>
    <p>suggested something sadder to me.</p>
    <br />
    <br />
    <p>This was meant to be about you,</p>
    <p>but I suppose that with the evening wind</p>
    <p>in the cloudless humidity relaxing the heat</p>
    <p>from a too-hot day and that reliquary field</p>
    <p>spotted with dogs on their walks and a prayer</p>
    <p>meeting gospelling a few doors down</p>
    <p>and in all the ways that matter to me, it is.</p>
</div>