<div class="about_offset">
<h2>About</h2>
<p>I built this website using Ruby on Rails to establish the framework and jQuery 
and JavaScript to design and build the sidebar, using Bootstrap for the styles.</p>
<br />
<p>Since the beginning of 2014, I have been dedicated to teaching myself the science 
and art of good code. Graduating from the Firehose Project bootcamp in September 
of 2015, I have since been exploring ever more in depth how Ruby on Rails can be 
used to deliver content and usability to the internet. I have recently begun 
applying these skills by freelancing web development, but I know there is so much 
more for me to learn.
</p>
<br />
<p>I'm looking forward next to build an iOS app with Swift, while continuing to 
expand my knowledge of Ruby and Rails.</p>
<br />
<p>I'm a member of a number of MeetUp groups spanning technology and literature,
and I'm honored to be a volunteer with <%= link_to 'RailsBridge', "http://railsbridgeboston.org/" %>.</p>
</div>