<h2>Contact information</h2>
<p>email: obviouslyrob@gmail.com</p>
<div>Github <%= link_to 'https://github.com/BostonTheseus', target: :_blank do %>
								<%= image_tag 'github.png', class: 'external-icon', alt: 'Github' %>
							<% end %></div>
<div>LinkedIn <%= link_to 'https://www.linkedin.com/in/robert-morris-36b75023/',  target: :_blank do %>
								<%= image_tag 'linkedin.png', class: 'external-icon', alt: 'LinkedIn' %>
							<% end %></div>